<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ion-datetime-picker.min.css" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/med_style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/waitMe.css" rel="stylesheet">
    <link href="lib/fullcalendar-3.2.0/fullcalendar.css" rel="stylesheet"/>
    <link href="css/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <link href='lib/dragular/dragular.css' rel='stylesheet' type='text/css' />
    <!-- <link href="lib/datepicker-for-ionic/dist/style.css" rel="stylesheet"> -->


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/jquery-1.12.0.min.js"></script>
    <script src="lib/jquery-ui-1.10.1.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src='lib/dragular/dragular.js'></script>

    <!--
    <script src="lib/fullcalendar-3.2.0/lib/jquery.min.js"></script>
    <script src="lib/fullcalendar-3.2.0/lib/jquery-ui.min.js"></script>
    <script src="lib/fullcalendar-3.2.0/lib/moment.min.js"></script>
    -->

    <!-- state-machine/state-machine.min.js -->
    <script src="lib/state-machine.min.js"></script>
    <script src="lib/moment-with-locales.min.js"></script>
    <script src="lib/Chart.min.js"></script>
    <script src="lib/angular-chart.min.js"></script>
    <script src="lib/calendar.js"></script>
    <script src="lib/fullcalendar-3.2.0/fullcalendar.js"></script>
    <!-- <script src="lib/datepicker-for-ionic/dist/templates.min.js"></script> -->
    <!-- <script src="lib/datepicker-for-ionic/dist/ionic-datepicker.min.js"></script> -->
    <script src="lib/ion-datetime-picker.min.js"></script>
    


    <script src="lib/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!-- <script src="lib/sweetalert2.min.js"></script> -->
    <script src="lib/waitMe.min.js"></script>
    <script src="lib/progressbar.min.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/mmlib.js"></script>
    <script src="js/mmnotifications.js"></script>
    <script src="js/config.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/logincontroller.js"></script>
    <script src="js/summarycontroller.js"></script>
    <script src="js/scorecardcontroller.js"></script>
    <script src="js/settingscontroller.js"></script>
    <script src="js/adherencecontroller.js"></script>
    <script src="js/reassignmedscontroller.js"></script>
    <script src="js/adjusttimescontroller.js"></script>
    <script src="js/holidaycontroller.js"></script>
    <script src="js/socialmediacontroller.js"></script>
    <script src="js/apiservices.js"></script>
    <script src="js/updateservice.js"></script>
    <script src="js/socialservices.js"></script>
    <script src="js/bleservices.js"></script>
    <script src="js/utilities.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body ng-app="medmonitor">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
      <ion-nav-bar class="bar-positive">
          <ion-nav-buttons side="left">
          <button class="button button-icon button-small no-padding {{ble.icon}} {{ble.color}}"></button>
          <button class="button button-icon button-small no-padding {{bat.icon}} {{bat.color}}"></button>
          <button class="button button-icon button-small no-padding {{ble.audiomode}}"></button>
          <button class="button button-icon button-small no-padding {{ble.loadmode}}"></button>
          </ion-nav-buttons>
          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="right">
              <button class="button button-clear button-icon button-small no-padding ion-information-circled" ng-click="about()"></button>
          </ion-nav-buttons>
      </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>

  <!-- Templates --!>
    <script id="about.html" type="text/ng-template">
        <div class="list">
            <a class="item item-avatar" href="#">
            <img src="images/bene_icon.png">
            <h2>MedMonitor</h2>
            <h4>Benesalus Technologies LLC</h4>
            </a>
        
            <ion-item class="item-borderless no-padding">Cordova {{cordova}}</ion-item>
            <ion-item class="item-borderless no-padding">Model {{model}}</ion-item>
            <ion-item class="item-borderless no-padding">OS {{platform}}</ion-item>
            <ion-item class="item-borderless no-padding">App Version {{version}}</ion-item>
            <ion-item class="item-borderless no-padding">Pillbox ID {{pillbox.macID}}</ion-item>
            <ion-item class="item-borderless text-wrap no-padding">
                <em>By clicking on register you are agreeing to our
                <a href="#" id="pp" ng-click="legalLinks(1)">Privacy Policy</a> and <a href="#" id="tc" ng-click="legalLinks(2)">Terms &amp; Conditions</a></em>
            </ion-item>
            <ion-item class="item-borderless no-padding">Help: support@benesalustech.com</ion-item>
        </div>      
    </script>

    <script id="addmeds.html" type="text/ng-template">
        <div class="ionictable">
            <div class="row header ionictable-header-royal" ng-click="showCustom()">
                <div class="col">
                    Custom Mediction
                    <i class="icon icon ion-plus-circled"></i>
                </div>
            </div>
            <!--
            <div class="row header ionictable-header-positive">
                <div class="col"><button class="clear button button-small no-padding" ng-click="showCustom()">Custom Mediction</button></div>
            </div>
            -->
            <div ng-show="meds.customFlag">
                 <div class="row">
                    <label class="item item-input">
                        <span class="input-label">Description</span>
                        <input type="text" placeholder="Aspirin" ng-model="meds.custom.desc"/>
                    </label>
                 </div>
                 <div class="row">
                    <label class="item item-input">
                        <span class="input-label">Strength</span>
                        <input type="text" placeholder="250mg" ng-model="meds.custom.strength"/>
                    </label>
                 </div>
                 <div class="row">
                    <label class="item item-input">
                        <span class="input-label">Freq</span>
                        <select ng-model="meds.custom.freq">
                           <option value=1>1</option>
                           <option value=2>2</option>
                           <option value=3>3</option>
                           <option value=4>4</option>
                        </select>
                    </label>
                 </div>
            </div>
            <div ng-repeat="med in globalMedList" ng-show="!meds.customFlag">
                <div class="row header ionictable-header-positive">
                    <div class="col">{{med.desc}}</div>
                 </div>
                 <div  class="row header ionictable-header-positive">
                    <div class="col">Strength</div>
                    <div class="col">Freq</div>
                    <div class="col">Add</div>
                 </div>
                 <div  class="row radio-group" ng-repeat="dose in med.doses">
                    <div class="col">{{dose.strength}}</div>
                    <div class="col">{{dose.freq}}</div>
                    <div class="col">
                        <input type="radio" name="{{med.desc}}" ng-model="meds.list[med.desc]" value="{{dose.strength}}"/>
                    </div>
                 </div>
            </div>
        </div>
    </script>

    <script id="medinfo.html" type="text/ng-template">
        <div class="list">
            <div class="item item-avatar" ng-repeat="med in localscope.medicines">
                <img src="{{'images/' + med.image}}">
                <h3>{{med.desc}}</h3>
                <p>{{med.strength}}</p>
            </div>
        </div>
    </script>

    <script id="biometricform.html" type="text/ng-template">
        <div class="list">
            <div  class="item item-borderless bmheader" ng-repeat="biometric in biometrics">
                <h2 class="bmheader">{{biometric.biometric_type}}</h2>
                <div class="list">
                    <div ng-show="biometric.biometric_values.type=='TEXTBOX'" class="item item-borderless no-padding" ng-repeat="bmvalue in biometric.biometric_values.values">
                        <div class="list">
                            <label class="item item-input no-padding" ng-repeat="(key,value) in bmvalue">
                                <span class="input-label">{{key}}</span>
                                <input type="number" placeholder="120" ng-model="bmValues[biometric.biometric_type][key]"> 
                            </label>
                        </div>
                    </div>
                    <div class="row item" ng-show="biometric.biometric_values.type=='DROPDOWN'">
                        <div class="col col-75">
                            <div label class="item-input item-select no-padding">
                                <select ng-model="biometric.selected">
                                    <option ng-repeat="bmvalue in biometric.biometric_values.values" value="{{getBMKey(bmvalue)}}">
                                        {{getBMKey(bmvalue)}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label class="item-input item-borderless no-padding">
                               <input class="no-padding" type="number" placeholder="100" ng-model="bmValues[biometric.biometric_type][biometric.selected]">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="dosageHistory.html" type="text/ng-template">
        <div class="SummaryBoxes_New", id="FourBox">
            <div class="list">
                <div class="item SquareBox {{boxColor(dosetime, curDate)}}"  ng-repeat="(dosetime, dose) in localscope">
                    <div class="SummaryBoxes_content">
                        <div class="list">
                            <div class="item item-borderless TimeDiv">
                                {{timeDisplay(dosetime)}}
                            </div>
                            <div ng-show="boxColor(dosetime, curDate) == 'GreenBox'" class="fade item item-borderless row no-padding transparent">
                                <div class="col text-center">
                                    <button small class="button button-small button-energized">@{{timeDisplay(dose.taken_time)}}</button>
                                </div>
                            </div>
                            <div ng-show="boxColor(dosetime, curDate) == 'RedBox'" class="fade item item-borderless row no-padding transparent">
                                <div class="col text-center">
                                    <button small class="button button-small button-energized" ng-show="dose.taken_time">@{{timeDisplay(dose.taken_time)}}</button>
                                    <button small class="button button-small button-energized" ng-hide="dose.taken_time">Missed</button>
                                </div>
                            </div>
                            <div ng-show="boxColor(dosetime, curDate) == 'YellowBox'" class="fade item item-borderless row no-padding transparent">
                                <div class="col text-center">
                                    <button small class="button button-small button-balanced">@{{timeDisplay(dose.taken_time)}}</button>
                                </div>
                            </div>
                            <div ng-show="boxColor(dosetime, curDate) == 'GrayBox'" class="fade item item-borderless row no-padding transparent">
                                <div class="col text-center">
                                    <button small class="button button-small button-dark"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="getdosetime.html" type="text/ng-template">
        <h3>{{box_color}}</h3>
        <ion-list>
            <div class="item" ion-datetime-picker time ng-model="localscope.time">
                {{localscope.time| date: "H:mm"}}
            </div>
        </ion-list>
    </script>

    <script id="getdosetimeampm.html" type="text/ng-template">
        <h3>{{box_color}}</h3>
        <ion-list>
            <div class="item" ion-datetime-picker time am-pm ng-model="localscope.time">
                {{localscope.time| date: "h:mm a"}}
            </div>
        </ion-list>
    </script>

    <script id="pushnotfn.html" type="text/ng-template">
        <h3>{{notification.title}}</h3>
        <p>{{notification.message}}</p>
    </script>
</html>
