<ion-view view-title="Login" hide-nav-bar="true">
<ion-content>
<div class="list card borderless">
    <div class="item item-avatar borderless">
        <img src="images/bene_icon.png" class="fit-thumbnail">
        <h2>Benesalus Technology LLC</h2>
        <h3>MedTracker</h3>
        <h3>{{version}}</h3>
    </div>
    <div class="item borderless">
        <form name="forms.loginform">
            <div class="list borderless">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Phone Number</span>
                    <input type="tel" placeholder="9999999999" ng-model="loginData.phonenum">
                </label>
                <label class="item borderless">
                    <button id="btnValidate" class="button button-block button-energized" ng-click="getOTP()">Get Registration Code</button>
                </label>
                <div ng-show="gotOTP()">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Registration Code</span>
                    <input type="tel" placeholder="xxxxxx" ng-model="loginData.otpcode">
                </label>
                <label class="item borderless">
                    <button id="btnRegister" class="button button-block button-positive" ng-click="doLogin()">Register</button>
                </label>
            </div>
            </div>
        </form>
    </div>
    <div class="item text-wrap borderless">
        <em>By clicking on register you are agreeing to our
            <!-- <a href="#" id="pp" onclick="window.open('https://app.benesalustech.com/about/appprivacy.php', '_system', 'location=no'); return false;">Privacy Policy</a> and <a href="#" id="tc">Terms &amp; Conditions</a></em> -->
        <a href="#" id="pp" ng-click="legalLinks(1)">Privacy Policy</a> and <a href="#" id="tc"  ng-click="legalLinks(2)">Terms &amp; Conditions</a></em>
    </div>
    <div class="item text-wrap borderless">
          Help: support@benesalustech.com
    </div>
</div>
</ion-content>
</ion-view>
