<ion-view class="view-with-bg" view-title="Re-Assign Meds">
    <ion-content scroll="false" class="padding">
        <div class="button-bar bar-positive">
            <button class="button button-small button-royal icon-left ion-wand" ng-click="autoAssign()">Automatic</button>
            <button class="button button-small button-energized icon ion-refresh" ng-click="Reset()">Reset</button>
            <button class="button button-small icon ion-checkmark-circled" ng-click="Accept()" ng-class="assignColor()">Accept</button>
    </div>
        <div class="row">
            <div class="col no-padding">
                <ion-list>
                    <ion-item class="item-divider item-divider-positive no-padding">Medicine/Freq</ion-item>
                </ion-list>
                <ion-list id='medsList'>
                    <ion-item ng-repeat="med in medli" ng-class="getColor(med.assign)" class="no-padding">
                        <div class="row">
                            <div class="col no-padding">{{med.desc}}</div>
                            <div class="col col-10 no-padding">{{med.freq}}</div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col no-padding">
                <ion-list>
                    <ion-item class="item-divider item-divider-positive no-padding">Default Times</ion-item>
                </ion-list>
                <ion-list id='doseTimes'>
                    <ion-item ng-repeat="dosetime in dosetimes" class="no-padding">
                        <div class="row">
                            <div class="col col-25 no-padding">{{timeDisplay(dosetime.time)}}</div>
                            <div class="col nested no-padding">
                                <div ng-repeat="med in dosetime.meds">
                                    <span class="egCell">{{med.desc}} </span><br>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
