<ion-view class="view-with-bg" view-title="Adjust Dosetime">
<ion-content scroll="false" class="no-padding">
    <div class="button-bar bar-positive no-padding">
        <button class="button button-small button-royal icon ion-wand" ng-click="autoAssign()">Automatic</button>
        <button class="button button-small button-energized icon ion-refresh" ng-click="Reset()">Reset</button>
        <button class="button button-small icon ion-checkmark-circled" ng-click="Accept()" ng-class="assignColor()">Accept</button>
</div>
    <ion-list id='doseTimes'>
        <ion-item ng-repeat="dosetime in dosetimes" class="no-padding">
            <div class="row">
                <div class="col col-20 no-padding">Dose{{$index + 1}}<br>{{timeStr(dosetime.timeMin)}}</div>
                <div class="col no-padding borderless">
                    <div class="range range-positive no-padding">
                        <a class="button button-icon button-small icon ion-ios-time-outline no-padding" ng-click="changeMin($index, {{-10}})"></a>
                        <input type="range" name="volume" min="0" max="1439" step="10" value="{{dosetime.timeMin}}" ng-model="dosetime.timeMin">
                        <a class="button button-icon button-small icon ion-ios-time no-padding" ng-click="changeMin($index, {{10}})"></a>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
