<ion-view class="view-with-bg" view-title="Configure">
    <ion-content class="padding">
        <h4>Manage Medications</h4>
        <div class="button-bar bar-positive">
            <button class="button button-small no-padding" ng-click="getMedList()">Add Meds</button>
            <a class="button button-small no-padding" href="#/tab/settings/reassignmeds">ReAssign</a>
            <a class="button button-small no-padding" href="#/tab/settings/adjusttimes">Adjust Time</a>
            <a class="button button-small no-padding" href="#/tab/settings/holiday">Holiday</a>
        </div>
        <div class="ionictable">
            <div class="row header ionictable-header-positive">
                <div class="col col-40">Name</div>
                <div class="col col-10">#</div>
                <div class="col col-40">Time</div>
                <div class="col col-10 no-padding">Del</div>
            </div>
            <div class="row" ng-repeat="medicine in medli">
                <div class="col col-40 no-padding">{{medicine.desc}}</div>
                <div class="col col-10 no-padding">{{medicine.freq}}</div>
                <div class="col col-40 no-padding"><span ng-bind-html="getDoseTimeStr(medicine)"></span></div>
                <div class="col col-10 no-padding"><button class="button button-icon button-small no-padding icon ion-trash-b" ng-click="delMedicine($index)"></button></div>
            </div>
        </div>
        
        <!--
        <ion-list>
            <ion-item class="no-padding">
            <div class="row">
                <div class="col col-20 no-padding">Snooze<br>{{snoozetime}} Min</div>
                <div class="col no-padding borderless">
                    <div class="range range-positive">
                        <a class="button button-icon icon ion-minus-round" ng-click="changeMin(-5)"></a>
                        <input type="range" name="volume" min="5" max="20" step="5" value="{{snoozetime}}" ng-model="snoozetime">
                        <a class="button button-icon icon ion-plus-round no-padding" ng-click="changeMin(5)"></a>
                    </div>
                </div>
            </div>
            </ion-item>
        </ion-list>
        -->

        <h4>Pillbox Setting</h4>
        <div class="list" ng-show='pillbox.macID == "Unknown"'>
            <div class="item item-divider item-positive">Not Connected</div>
        </div>
        <div class="list" ng-show='pillbox.macID != "Unknown"'>
            <div class="item item-divider item-positive">Snooze {{snoozetime.val}} Min</div>
            <div class="item no-padding borderless">
                <div class="range range-positive">
                    <a class="button button-icon icon ion-minus-round" ng-click="changeMin(-5)"></a>
                    <input type="range" name="volume" min="5" max="20" step="5" debounce="500" value="{{snoozetime.val}}" ng-model="snoozetime.val" ng-change="onSnoozeChange()">
                    <a class="button button-icon icon ion-plus-round no-padding" ng-click="changeMin(5)"></a>
                </div>
            </div>
            <div class="item item-divider item-positive">Pillbox {{pillbox.macID}} {{pillbox.HWRev}} {{pillbox.FWRev}}</div>
            <ion-toggle class="item toggle-assertive no-padding" ng-model="pillbox.mode.quietFlag" ng-checked="pillbox.mode.quietFlag" ng-click="getAudioMode()"><a class = "button icon-right button-clear button-dark no-padding {{ble.audiomode}}">Audio Mode {{pillbox.mode.audioMode}}</a></ion-toggle>
            <ion-toggle class="item toggle-assertive no-padding" ng-model="pillbox.mode.loadModeFlag" ng-checked="pillbox.mode.loadModeFlag" ng-click="getLoadMode()" ng-disabled="!blestatus"><a class = "button icon-right button-clear button-dark no-padding {{ble.loadmode}}">Load Mode {{pillbox.mode.loadMode}}</a></ion-toggle>
        </div>
        
        <div class="row">
            <div class="col text-center">
                <button class="button button-assertive no-padding text-black" ng-click="deActivate()">DeActivate</button>
            </div>
        </div>
    </ion-content>
</ion-view>
