<ion-view class="view-with-bg" title="BioGraphs">
<ion-content class="padding">
<div id="wrapper" style="position: relative; height: 50vh">
    <canvas id="line" class="chart chart-line" chart-data="bmArray[seriesIdx].data"
        chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
    <div class="button-bar">
        <button class="fade button button-small text-wrap no-padding {{getButtonColor(bmtype.biometric_type)}}" ng-click="selectSeries(bmtype.biometric_type)" ng-repeat="bmtype in bmtypes">{{bmtype.biometric_type}}</button>
    </div>
</ion-content>
</ion-view>
