<ion-view class="view-with-bg" title="Adherence">
<ion-content class="padding has-tabs-tops">
{{msg}} <br>
<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="adherenceCalendar" class="no-padding"></div>
</ion-content>
</ion-view>
