<ion-view class="view-with-bg" title="Social Media">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-button-right">
                Messages. Sorted by {{propertyNameStr}}
                <button class="button button-small button-icon icon ion-settings" ng-click="orderList()">
                </button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | orderBy:propertyName" type="item-text-wrap" href="#/tab/socialmedia/{{chat.id}}">
                <img ng-src="images/{{profileimage(chat)}}">
                <h2>{{chat.to}}</h2>
                <p>{{chat.subject}}</p>

                <div ng-show="chat.likes > 0">
                    <a class="button button-icon icon ion-thumbsup"></a>
                    <span class="badge badge-assertive">{{chat.likes}}</span>
                </div>

                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        <ion-list>
     </ion-content>
</ion-view>
