<ion-view class="view-with-bg" view-title="Dashboard">
<ion-content class="padding">
<div class="no-padding">
    <div class="item item-borderless transparent row">
        <div class="col col-25 wrapper">
            <img ng-src="images/{{imagename}}">
            <div pg-bar id="progress"></div>
        </div>
        <div class="col col-75">
            <h2>Benesalus MedMonitor</h2>
            <h3> {{greeting()}} {{name}}</h3>
            <h3>{{agencyStr}}</h3>
            <h3>Adherence: {{adherence}}</h3>
        </div>
    </div>
    <div class="item item-borderless transparent row">
        <div class="col col-25 wrapper">
            <i class="icon {{badge.icon}} {{badge.color}}" ng-repeat="badge in badges"></i>
        </div>
    </div>
</div>

<div class="SummaryBoxes_New", id="FourBox">
    <div class="button-bar">
            <button ng-disabled="checkValidDate(LEFT)" class="fade button button-small transparent icon ion-arrow-left-a" ng-click="nextDay(LEFT)"></button>
            <button class="button button-small button-calm text-black">{{centerDateString()}}</button>
            <button ng-disabled="checkValidDate(RIGHT)" class="fade button button-small transparent icon ion-arrow-right-a" ng-click="nextDay(RIGHT)"></button>
    </div>
    <div class="list small-padding">
        <div class="item SquareBox {{dose.boxColor}}" ng-click="showMedInfo($index)" ng-repeat="dose in medicationInfo">
            <div class="SummaryBoxes_content">
                <div class="list">
                    <div class="item item-borderless PillsDiv">
                        <div class="Pills" ng-repeat="meds in dose.medicines"></div>
                    </div>
                    <div class="item item-borderless TimeDiv">
                        {{timeDisplay(dose.box_time)}}
                    </div>
                    <div ng-show="dose.boxColor == 'GreenBox'" class="fade item item-borderless row no-padding transparent">
                        <div class="col text-center">
                            <button small class="button button-small button-energized" ng-click="getMedTime($index, $event)">Taken {{dose.taken_time}}</button>
                        </div>
                    </div>
                    <div ng-show="dose.boxColor == 'RedBox'" class="fade item item-borderless row no-padding transparent">
                        <div class="col text-center">
                            <button small class="button button-small button-energized" ng-click="getMedTime($index, $event)">Taken?</button>
                        </div>
                    </div>
                    <div ng-show="dose.boxColor == 'YellowBox'" class="fade item item-borderless row no-padding transparent">
                        <div class="col text-center">
                            <button small class="button button-small button-balanced" ng-click="getMedTime($index, $event)">Taken {{getTakenTime(dose.box_time, date)}}</button>
                        </div>
                    </div>
                    <div ng-show="dose.boxColor == 'GrayBox'" class="fade item item-borderless row no-padding transparent">
                        <div class="col text-center">
                            <button small class="button button-small button-dark">Not Taken</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-padding">
        <div class="col col-33 col-offset-33">
    <button class="button button-energized no-padding text-black" ng-click="getBioMetrics()">BioMetric</button>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
