<ion-view class="view-with-bg" view-title="{{chat.subject}}"> 
    <ion-content class="padding">
        <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                    <img ng-src="images/{{profileimage}}">
                    <p>Hello {{chat.to}}</p>
                    <div ng-show="chat.likes > 0">
                    <a class="button button-icon icon ion-thumbsup"></a>
                    <span class="badge badge-assertive">{{chat.likes}}</span>
                </div>
            </ion-item>
            <ion-item class="item-divider">{{chat.subject}}</ion-item>
            <ion-item class="item-remove-animate" ng-repeat="msg in chat.messages" type="item-text-wrap" style="white-space: normal;">
                <h3>{{msg.from}}
                    <span class="item-note">{{msg.timestamp}}</span></h3>
                <p style="white-space: normal;">{{msg.message}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer sub-footer row">
        <div class="col"><a class="button button-icon icon ion-thumbsup" ng-click="like(chat)"></a></div>
        <div class="col"><a class="button button-icon icon ion-trash-a" ng-click="remove(chat)"></a></div>
        <div class="col"><a class="button button-icon icon ion-chatbox" ng-click="message(chat)"></a></div>
        <div class="col center"><a class="button button-icon icon ion-flag assertive" ng-click="flag(chat)"></a></div>
    </div>
</ion-view>
