<ion-view class="view-with-bg" view-title="Med Holiday">
<ion-content scroll="false" class="padding">
    <div class="list no-padding">
        <div class="item item-divider item-positive"> 
             Select Meds
        </div>
        <div ng-repeat="med in medli" class="item no-padding">
            <ion-checkbox ng-model="med.holiday.flag" value="{{med.holiday.flag}}">{{med.desc}}</ion-checkbox>
        </div>
        <div class="item no-padding item-positive"> 
            <button class="button button-small icon-left ion-plus-circled button-assertive d no-padding" ng-click="changeAll(true)">Select All</button>
            <button class="button button-small icon-right ion-minus-circled button-assertive no-padding" ng-click="changeAll(false)">Clear All</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="list">
                <div class="item item-positive" ion-datetime-picker date only-valid="{'after':minDate, 'inclusive':true}" ng-model="startDate">
                    Start Date{{startDate| date: "yyyy-MM-dd"}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="list">
                <div class="item item-positive" ion-datetime-picker date only-valid="{'between':{'initial':startDate, 'final':maxDate}, 'inclusive':true}" ng-model="endDate">
                    End Date{{endDate| date: "yyyy-MM-dd"}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="button button-assertive no-padding text-black" ng-click="checkAndEnableHoliday()">Enable Holiday</button>
        </div>
    </div>
</ion-content>
</ion-view>
