<ion-view class="view-with-bg" title="Scorecard">
    <ion-tabs class="tabs-striped tabs-top tabs-positive tabs-background-dark">
        <ion-tab title="Adherence" icon="ion-calendar" ui-sref="tab.scorecard.adherence">
            <ion-nav-view name="tab-adherence"></ion-nav-view>
        </ion-tab>
    
        <ion-tab title="BioGraphs" icon="ion-stats-bars" ui-sref="tab.scorecard.biographs">
            <ion-nav-view name="tab-biographs"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

    <ui-view name="tab-scorecard"></ui-view>
</ion-view>
