<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Summary" icon-off="summaryicon" icon-on="summaryicon" href="#/tab/summary">
    <ion-nav-view name="tab-summary"></ion-nav-view>
  </ion-tab>

  <!-- Scorecard Tab -->
  <ion-tab title="Scorecard" icon-off="scorecardicon" icon-on="scorecardicon" ui-sref="tab.scorecard.adherence">
    <ion-nav-view name="tab-scorecard"></ion-nav-view>
  </ion-tab>

  <!-- Social Media Tab -->
  <ion-tab title="Social" icon-off="socialmediaicon" icon-on="socialmediaicon" href="#/tab/socialmedia">
    <ion-nav-view name="tab-socialmedia"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="configureicon" icon-on="configureicon" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
