body {
	background-image: url(../images/background.png);
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	max-height: 1920px;
	max-width: 1080px;
	overflow-x: hidden;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:not(input, textarea, select) {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}
input[type="button"], input[type="submit"] {
	cursor: pointer !important;
	outline: none;
}
.LogoDiv {
	overflow: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-top: 5vh;
}
.LogoDiv img {
	max-width: 30vh !important;
}
.LoginBlueBox {
	-webkit-transform: skew(0deg, -22deg);
	-moz-transform: skew(0deg, -22deg);
	-o-transform: skew(0deg, -22deg);
	-ms-transform: skew(0deg, -22deg);
	transform: skew(0deg, -22deg);
	background-color: rgba(0, 107, 179, 0.9);
	min-height: 100%;	
	position: fixed;
	width: 100%;
	bottom: 0% !important;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.LoginBox {
	margin: auto;
	overflow: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	width: 90%;
	z-index: 100;
	position: relative !important;
	/*-webkit-transform: skew(0deg, 22deg);
	-moz-transform: skew(0deg, 22deg);
	-o-transform: sskew(0deg, 22deg);
	-ms-transform: skew(0deg, 22deg);
	transform: skew(0deg, 22deg);*/
	margin-top: 18.0vh !important;
}
.LoginBox .list {
	list-style: none;
	padding: 0px;
	width: 100%;
	margin: 0px;
}
.LoginBox .list .item.Heading {
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
}
.LoginBox .list .item.FieldBox {
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
	text-align: left;
	text-align: left;
	overflow-x: hidden;
}
.LoginBox .list .item.FieldBoxSmall {
	margin-bottom: 10px;
	clear: both;
	overflow: auto;
	text-align: left;
	text-align: left;
	overflow-x: hidden;
	width: 40%;
	float: left;
	margin-right: 5px;
}
.LoginBox .list .item.ButtonBox {
	margin-top: 10px;
	text-align: center;
	overflow: auto;
}

.LoginBox .list .item.NoteText {
	margin-top: 10px;
	text-align: center;
	overflow: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.LoginBox .list .item.NoteText  a{ text-decoration:underline; color:rgba(255, 255, 255, 0.7);font-family: Roboto Light, Arial, Helvetica, sans-serif;}

.LoginBox .list .item.ButtonBoxSmall {
	text-align: center;
	overflow: auto;
	width: 55%;
	float: left;
	clear: none;
	overflow-x: hidden;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	background-color: #ff6000 !important;
	border-radius: 10px;
	border: none;
	padding: 15px 8px;
	width: auto;
	margin: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color: #ffffff;
	text-align: center;
	-webkit-appearance: none;
}
.box {
	background: #ffffff !important;
	border: 1px solid #d9d9d9;
	border-radius: 0px;
	padding: 1.5vh 5px;
	width: 95%;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5c5c5c;
	z-index: 50;
	overflow-x: hidden;
}
.LoginBox input[type="button"] {
	background-color: #06ff73 !important;
	border-radius: 10px;
	border: none;
	padding: 15px 35px;
	width: auto;
	margin: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-align: center;
	-webkit-appearance: none;
}
.box:after {
	z-index: 200 !important;
	position: absolute;
	content: "";
	bottom: 15px;
	right: 20px;
	width: 70%;
	top: 70%;
	max-width: 90%;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #999;
	-moz-box-shadow: 0 15px 10px #999;
	box-shadow: 0 15px 10px #999;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	border: 1px solid #000;
}
.box:before {
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.TopFixedHeader {
	background-color: rgba(0, 107, 179, 0.9);
	height: 50px;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	position: fixed;


	top: 0px;
	width: 100%;
	overflow: auto;
}
.TopRightSection {
	width: 55%;
	right: 10px;
	position: fixed;
	height: 70px;
	overflow: auto;
	padding: 10px 0px;
	top: 0px;
	overflow: hidden;
}
.TopRightSection .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.TopRightSection .list .item.ProPic {
	width: 60px;
	float: left;
	clear: none;
	margin-right: 6px;
	padding: 10px;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 15% !important;
	margin-left: 20%;
	margin-top: -25px;
}
.TopRightSection .list .item.ProPic div.Semicircle img {
	max-width: 90%;
	border: none !important;
	border-radius: 120px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) !important;
}
.TopRightSection .list .item.ProPic img {
	max-width: 90%;
	border-radius: 120px;
	border: 4px solid #dedede;
	box-shadow: -6px 5px 6px 0px rgba(0, 0, 0, 0.5);
	margin-top: -10px;
}
.TopRightSection .list .item.ProfileName {
	width: 55% ;
	float: left;
	clear: none;
	margin-right: 0px;
	margin-top: -5px;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #ffffff;

}
.TopRightSection .list .item.ProfileName div.NameDiv {
	font-size: 3.5vw;
	font-weight: normal;
	clear: both;
	margin-bottom: 3px;
}
.TopRightSection .list .item.ProfileName div.TimeDiv {
	font-size: 11px;
	font-weight: normal;
	clear: both;
	width: auto;
	float: left;
	padding: 3px 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0,  0.2);
}
.TopLeftSection {
	width: 40%;
	left: 20px;
	position: fixed;
	height: 8%;
	overflow: auto;
	padding: 10px 0px;
	top: 0px;
}
.TopLeftSection .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.TopLeftSection .list .item.MenuIcon {
	width: 23%;
	float: left;
	clear: none;
	margin-right: 3px;
	margin-top: 5px;
}
.TopLeftSection .list .item.Logo {
	width: 68%;
	float: left;
	clear: none;
	margin-top: 5px;
}
.TopLeftSection .list .item.MenuIcon img {
	max-width: 70%;
}
.TopLeftSection .list .item.Logo img {
	max-width: 100%;
}
.BottomFixedFooter {
	background-color: rgba(0, 107, 179, 0.9);
	height: 7%;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 900 !important;
}
.FooterLink {
	width: 25%;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	margin-top: -11.0vw;
	bottom: 5px;
	z-index: 999 !important;
}
.FooterLink a {
	text-decoration: none;
}
.FooterLink .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.FooterLink .list .item.IconBack {
	width: 8.0vw;
	height: 8.0vw;
	margin: auto;
	background-color: rgba(0, 107, 179, 1.0);
	border: 4px solid #dedede;
	border-radius: 120px;
	padding: 2.0vw;
}
.FooterLink .list .item.IconBack img {
	max-width: 100%;
}
.FooterLink .list .item.FooterText {
	text-align: center;
	margin-top: 5px;
	color: #ffffff;
}
.Mar_25 {
	margin-left: 38%;
}
.Mar_50 {
	margin-left: 75%;
}
.Mar_75 {
	margin-left: 75%;
}
.container_demo {
	clear: both;
	width: auto;
	margin: 10px;
	float: none;
	position: relative;
	overflow: auto;
	margin-top: 210px;
}
.Acc_innerCont {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #333333 !important;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	display: block !important;
	box-shadow: none !important;
	background: none !important;
}
.Acc_innerCont .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.Acc_innerCont .list .item {
	padding: 10px 0px !important;
	clear: both;
	border-bottom: 1px solid #d9d9d9;
	overflow: auto;
}
.Acc_innerCont .list .item:nth-last-child(1) {
	border: none !important;
}
.Acc_innerCont .list .item div.leftText {

	width: auto;
	margin-right: 8px;
	float: left;
	clear: none;
	display: block !important;
	box-shadow: none !important;
	background: none !important;
}
.Acc_innerCont .list .item div.rightBall {
	background-color: #a91422;
	float: left;
	width: 30px;
	border-radius: 120px;
	clear: none;
	text-align: center;
	color: #ffffff;
	padding: 7px 0px;
	margin-top: -5px;
}
.Acc_innerCont .list .item div.rightGray {
	float: right;
	width: auto;
	clear: none;
	color: #999999;
	font-size: 11px;
	display: block !important;
	box-shadow: none !important;
	background: none !important;
}
.SummaryHeader {
	-webkit-transform: skew(0deg, -12deg);
	-moz-transform: skew(0deg, -12deg);
	-o-transform: skew(0deg, -12deg);
	-ms-transform: skew(0deg, -12deg);
	transform: skew(0deg, -12deg);
	background-color: rgba(0, 107, 179, 0.9);
	min-height: 33vw;
	position: absolute;
	width: 100%;
	top: 4%;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.SummaryHeaderContent {
	width: 100%;
	position: fixed;
	overflow: hidden;
	padding: 10px 0px;
	-webkit-transform: skew(0deg, 12deg);
	-moz-transform: skew(0deg, 12deg);
	-o-transform: skew(0deg, 12deg);
	-ms-transform: skew(0deg, 12deg);
	transform: skew(0deg, 12deg);
}
.SummaryHeaderContent .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.SummaryHeaderContent .list .item.ProPic {
	width: 27%;
	float: left;
	clear: none;
	margin-right: 0px;
	padding: 10px;
	margin-top: 15px;
	padding-left: 20px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 13% !important;
	margin-left: 18%;
	margin-top: -45px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle img {
	max-width: 90%;
	box-shadow: none !important;
	border: none !important;
	border-radius: 120px;
}
.SummaryHeaderContent .list .item.ProPic img {
	max-width: 90%;
	border-radius: 120px;
	border: 6px solid #dedede;
	box-shadow: -10px 15px 10px 0px rgba(0, 0, 0, 0.5);
	margin-top: -10px;
}
.SummaryHeaderContent .list .item.ProfileName {
	width: 60%;
	float: left;
	clear: none;
	margin-left: 0px;
	margin-top: 1vh;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #ffffff;
}
.SummaryHeaderContent .list .item.ProfileName div.NameDiv {
	font-size: 16px;
	font-weight: normal;
	clear: both;
	margin-bottom: 3px;
}
.SummaryHeaderContent .list .item.ProfileName div.DescDiv {
	font-size: 11px;
	font-weight: normal;
	clear: both;
	width: auto;
	float: left;
	color: rgba(255, 255, 255, 0.7);
	margin-left: 10px;
}
.SummaryHeaderContent .list .item.ProfileName div.DescDiv div.YellText {
	color: #ff9000 !important;
}
.SummaryBPInp {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #333333;
	margin: -30px 20px 70px 20px;
	padding: 0px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.05);
}
.SummaryBPInp .list {
	list-style: none;
	padding: 0px;
	margin: 10px;
}
.SummaryBPInp .list .item.Heading {
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.SummaryBPInp .list .item.HalfDiv {
	width: 48%;
	float: left;
	clear: none;
	margin-right: 10px;
	margin-bottom: 10px;
}
.SummaryBPInp .list .item.HalfDiv:nth-of-type(2n+1) {
	margin-right: 0px;
}
.SummaryBPInp .list .item.FullDiv {
	clear: both;
	text-align: center;
}
.SummaryBPInp input[type="button"] {
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 15px;
	-webkit-appearance: none;
}
.SummaryBPInp input[type="text"] {
	width: 90%;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.SummaryLogo {
	margin-top: 10px;
	margin-left: 15px;
}
.SummaryLogo img {
	max-width: 30%;
}
.SummaryLogo_Ben {
	position: absolute;
	right: 20px;
	top: 23vh;
	text-align: right;
}
.SummaryLogo_Ben img {
	max-width: 35%;
}
.PageHeading {
	font-size: 16px;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #1e8ad2;
	margin-bottom: 15px;
	overflow: auto;
	clear: both;
	margin-top: 60px;
	margin-left: 15px;
	margin-bottom:0px;
}
list.ConfigureGridRow {
	font-size: 12px;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: #ffffff;
}
list.ConfigureGridRow .item.Cell_1 {
	width: 20%;
	float: left;
	clear: none;
	border-right: 1px solid #d9d9d9;
	padding: 5px;
	min-height: 26px;
}

list.ConfigureGridRow .item.Cell_2 {
	width: 13%;
	float: left;
	clear: none;
	border-right: 1px solid #d9d9d9;
	padding:5px;
	min-height: 26px;
}
list.ConfigureGridRow .item.Cell_3 {
	width: 35%;
	float: left;
	clear: none;
	padding: 5px;
	font-size: 11px;
	margin-left: 0px;
	min-height: 26px;
}
list.ConfigureGridRow .item.Cell_4 {
	width: 20%;
	float: right;
	clear: none;
	padding: 2px;
	padding-top: 8px;
	min-height: 26px;
}
list.ConfigureGridRow .item.Cell_4 div.IconDiv1 {
	width: 45%;
	margin-right: 0px;
	float: left;
	clear: none;
	box-shadow: none !important;
	display: block !important;
	text-align: right;
}
list.ConfigureGridRow .item.Cell_4 div.IconDiv2 {
	width: 45% !important;
	float: left;
	clear: none;
	display: block !important;
	box-shadow: none !important;
	text-align: right;
}
list.ConfigureGridRow .item.Cell_4 img {
	max-width: 90%;
	display:block;
}
.ConfigureGridHead {
	font-size: 12px;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
	color: #ffffff;
	margin: 0px;
	padding: 0px !important;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
	/*margin: 10px;*/
	margin-bottom: -10px;
	clear: both;
	overflow-x: hidden;
}
.ConfigureGridHead .list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: auto;
	overflow-x: hidden;
}
.ConfigureGridHead .list .item.Cell_1 {
	width: 20%;
	float: left;
	clear: none;
	padding: 10px 5px;
}
.ConfigureGridHead .list .item.Cell_2 {
	width: 13%;
	float: left;
	clear: none;
	padding: 10px 5px;
}
.ConfigureGridHead .list .item.Cell_3 {
	width: 35%;
	float: left;
	clear: none;
	padding: 10px 5px;
	font-size: 11px;
	margin-left: 0px;
	min-height: 26px;
}
.ConfigureGridHead .list .item.Cell_4 {
	width: 20%;
	float: right;
	clear: none;
	padding: 2px;
	padding-top: 8px;
}
.ConfigureAddEdit {
	font-size: 12px;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
	color: #333333;
	margin: 0px;
	padding: 0px;
	display: block !important;
	box-shadow: none !important;
	background: none !important;
}
.ConfigureAddEdit .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.ConfigureAddEdit .list .item.LabelDiv {
	width: 38%;
	float: left;
	margin-right: 5px;
	clear: both;
	margin-bottom: 5px;
	padding: 8px 0px;
}
.ConfigureAddEdit .list .item.InputDiv {
	width: 55%;
	float: right;
	margin-right: 0px;
	clear: none;
	margin-bottom: 5px;
	padding: 2px 5px;
	text-align: left;
}
.ConfigureAddEdit .list .item.InputDiv div.Half {
	width: 40%;
	float: left;
	clear: none;
	display: block !important;
	box-shadow: none !important;
	margin-right: 10px;
}
.ConfigureAddEdit .list .item.CenterDiv {
	padding-top: 10px;
	clear: both;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	overflow: auto;
	box-shadow: none !important;
}
.ConfigureAddEdit .list .item.CenterDiv input.RedBut[type="button"] {
	padding: 8px 15px;
	color: #ffffff;
	border-radius: 4px;
	border: none;
	background-color: #a91422;
	margin-right: 5px;
	-webkit-appearance: none;
}
.ConfigureAddEdit .list .item.CenterDiv input.BlueBut[type="button"] {
	padding: 8px 15px;
	color: #ffffff;
	border-radius: 4px;
	border: none;
	background-color: #3595d5;
	-webkit-appearance: none;
}
.ConfigureAddEdit input[type="text"], .ConfigureAddEdit select {
	padding: 2px;
	width: 95%;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	color: #666666;
}
.UploadPic {
	margin: 0px;
	padding: 0px;
	box-shadow: none !important;
	display: block !important;
}
.UploadPic .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.UploadPic .list .item.MedPic {
	width: 40%;
	float: left;
	clear: none;
	margin-right: 10px;
}
.UploadPic .list .item.MedPic img {
	max-width: 100%;
	border-radius: 150px;
	border: 3px solid #d9d9d9;
	margin-right: 25px;
}
.UploadPic .list .item.SmallIcon {
	width: 10%;
	float: left;
	clear: none;
	margin-right: 15px;
	margin-top: 25%;
}
.UploadPic .list .item.SmallIcon img {
	max-width: 90%;
	border: none;
	border-radius: 0px;
}
/*------------------------*/

#accordion {
	/*margin: 10px;*/
	margin-top: 0px;
	border-top: none;
	border-bottom: none;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;/*margin-bottom: 100px;*/
}
#accordion div {
	display: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 5px;
}
#accordion div.Row {
	display: block;
	background: #ffffff;
	color: #333333;
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	clear: both;
	overflow: auto;
}
#accordion div.SlidePanel {
	padding: 10px;
	clear: both;
	margin-top: -5px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5) !important;
	border-top: 1px solid #d9d9d9;
	overflow: auto;
}
.first {
	border-top: thin solid #cecece;
}
#AddMedication {
	background: #a91422;
	font-family: Roboto Reglist, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 5px 10px;
	float: right;
	width: auto;
	clear: both;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 5px;
}
#AddMedcontent {
	display: none;
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
	right: 10px;
	left: 10px;
	padding: 10px;
	position: absolute;
	color: #333;
	margin-top: 25px;
	z-index: 9999;
}
.AboutContent {
	display: none;
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
	right: 10px;
	left: 10px;
	position: absolute;
	color: #333;
	margin-top: -10px;
	z-index: 9999;
}
.AboutIconDiv {
	width: auto;
	float: right;
	clear: both;
	padding: 10px;
	margin-top: -45px;
	text-align: right
}
.AboutIconDiv img {
	opacity: 0.5;
	max-width: 20%;
}
/*------------GRAPHS--------------*/

#tabmenu {
	margin: 0px;
	position: relative;
	height: 75vh;
}
#nav {
	overflow: hidden;
	padding-left: 0;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 20px 20px 0px 20px;
}
#nav .item {
	float: left;
	list-style: none;
}
#nav .item a {
	padding: 8px 20px;
	color: #000000;
	text-decoration: none;
	display: block;
}
#nav .item:first-child a {
}
#tab-content {
	padding: 10px;
	margin-top: -1px;
	margin-left: 0px;
	margin-top: -14px;
	background: -moz-linear-gradient(top, #e0e0e0 20%, rgba(254, 254, 254, 0.0) 50%);
	box-shadow: -0px -3px 3px 0px rgba(0, 0, 0, 0.3);
}

#tab-content div.Cont{ visibility:hidden}

#nav .item a.active {
	background: -moz-linear-gradient(top, #fefefe 20%, #e0e0e0 50%);
	background: -ms-linear-gradient(top, #fefefe 20%, #d0d0d0 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fefefe), color-stop(50%, #d0d0d0));
	border-radius: 5px 5px 0px 0px;
	margin-bottom: -3px;
	box-shadow: -0px -3px 3px 0px rgba(0, 0, 0, 0.3);
	display: block !important;
}
.GraphsBox {
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 2px;
	overflow: auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px (0, 0, 0, 0.5);
	display: block !important;
}
.GraphsBox .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.GraphsBox .list .item.Header {
	background-color: #3796d6;
	color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
}
.GraphsBox .list .item.Header div.Leftbx {
	width: auto;
	padding: 5px 10px;
	float: left;
	clear: none;
	display: block !important;
}
.GraphsBox .list .item.Header div.Rightbx {
	width: auto;
	padding: 8px 10px;
	float: right;
	clear: none;
	display: block !important;
}
.GraphsBox .list .item.ContentBox {
	padding: 15px;
	text-align: center;
}
.GraphsBox .list .item.Header select {
	background-color: rgba(0, 0, 0, 0.4);
	color: #ffffff;
	padding: 2px 5px;
	border: none !important
}
.GraphsBox .list .item.ContentBox img {
	max-width: 100%;
}
.MainDIV {
	overflow: auto;
	margin-bottom: 100px;
}
#Sumaccordion {
	margin: 10px;
	margin-top: 180px;
	border-top: none;
	border-bottom: none;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	clear: both;
	overflow: auto !important;
}
#Sumaccordion div.Row {
	display: block;
	background: rgba(0, 107, 179, 0.7);
	color: #ffffff;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	clear: both;
	overflow: auto;
	padding: 8px;
	margin-bottom: 2px;
}
#Sumaccordion div.Row div.PlusMinus {
	width: 18px;
	float: right;
	clear: none;
	height: 18px;
	background-image: url(../images/plusminus.png);
	background-repeat: no-repeat;
	background-position: left 0px;
}
.Minus {
	background-position: left -18px !important;
}
.YellowRow {
	background-color: #022a5b !important;
}
#Sumaccordion div.SlidePanel {
	display: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	border: none;
	padding: 10px !important;
	clear: both;
	margin-top: -2px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5) !important;
	overflow: auto;
}
.ActiveLink {
	background: rgba(0, 107, 179, 0.9) !important;
}
.RowButt a {
	width: auto;
	margin-right: 30px;
	margin-top: -2px;
	float: right;
	padding: 3px 10px;
	font-size: 12px;
	color: #000000;
	background-color: #fff900;
	border-radius: 4px;
	text-decoration: none;
}
.HighRow {
	background: rgba(0, 0, 0, 0.1) !important;
}
.SummaryBoxes_New {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 0px;
	overflow: auto;
	/*margin-top: 20vh;*/
	width: auto;
	clear: both;
}
.SummaryBoxes_New .list {
	margin: 0px;
	padding: 20px;
	list-style: none;
	width: auto;
	margin: auto;
	overflow: auto;
	position: relative;
}
.SummaryBoxes_New .list div.FullBox {
	width: 100%;
	height: 50vh;
	background-color: #000000;
	display: none;
	color: #ffffff;
	position: absolute;
	width: 90%;
	z-index: 9999;
	overflow: auto;
}
.SummaryBoxes_New .list div.FullBox div#CloseBIg {
	padding: 6px;
	font-size: 16px;
	color: #ffffff;
	width: auto;
	top: 10px;
	right: 10px;
	cursor: pointer;
	position: absolute;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43.5% !important;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	background-color: #ffffff;
	position: relative;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
	height: 15.0vh;
	clear: none;
	border-radius: 10px 00px 0px 0px;
	padding: 8px;
}
.SummaryBoxes_New .list .item.SquareBox:nth-of-type(2n) {
	margin-right: 0px;
	float: right;
	border-radius: 0px 10px 0px 0px;
}
.SummaryBoxes_New .list .item.SquareBox:nth-of-type(3n) {
	border-radius: 0px 00px 0px 10px;
}
.SummaryBoxes_New .list .item.SquareBox:nth-of-type(4n) {
	border-radius: 0px 00px 10px 0px;
}
.Spread1 {
	width: 95% !important;
	height: 70vw !important;
	border-radius: 10px 10px 10px 10px !important;
}
.Spread3 {
	width: 95% !important;
	border-radius: 0px 0px 10px 10px !important;
}
.MoveCent1 {
	margin-left: 25% !important;
	border-radius: 10px !important;
}
.MoveCent3 {
	margin-left: 25% !important;
	border-radius: 0px 0px 10px 10px !important;
}
.SummaryBoxes_New .list .item.SquareBox div.EnterDate {
	height: 0px;
	display: none;
	width: 100%;
	text-align: center;
	color: #FFF;
	background-color: #ffffff;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	z-index: 1;
	margin-left: -8px;
}
.GreenBox {
	background-color: #84bd42 !important;
}
.RedBox {
	background-color: #ff3030 !important;
}
.YellowBox {
	background-color: #ffba00 !important;
}
.GrayBox {
	background-color: #979797 !important;
}
.BlueBox {
	background-color: #083b98 !important;
}
.OrangeBox {
	background-color: #ff3c00 !important;
}
.BrownBox {
	background-color: #970505 !important;
}
.TealBox {
	background-color: #008472 !important;
}
.LeftTop {
	left: 20px !important;
	top: 20px;
}
.RightTop {
	right: 20px !important;
	top: 20px;
}
.LeftBot {
	left: 20px !important;
	bottom: 0px;
}
.RightBot {
	right: 20px !important;
	bottom: 0px;
}
.SummaryBoxes_content {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	padding: 0px;
}
.SummaryBoxes_content .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.SummaryBoxes_content .list .item.PillsDiv {
	margin-bottom: 15px;
        background-color : transparent;
        padding : 0px !important;
}
.SummaryBoxes_content .list .item.PillsDiv div.Pills {
	width: 10px;
	height: 10px;
	background-image: url(../images/pill_icon.png);
	background-position: left;
	background-repeat: no-repeat;
	float: left;
	clear: none;
	margin-right: 5px;
	opacity: 0.8;
}
.SummaryBoxes_content .list .item.TimeDiv {
	text-align: center;
	font-size: 4.0vh;
	color: #000000;
        background-color : transparent;
	
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
        padding : 0px !important;
}
.SummaryBoxes_content .list .item.ButtonDiv {
	text-align: center;
	color: #000000;
	margin-top: 3px;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
}
.SummaryBoxes_content .list .item.ButtonDiv input[type="button"] {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	border: none;
	padding: 8px 15px;
	width: auto;
	margin: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color: #ffffff;
	text-align: center;
	-webkit-appearance: none;
	cursor: pointer;
}
.FullBoxContent {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
.FullBoxContent .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin: 5px 10px;
	overflow-x: hidden;
	height: 100% !important
}
.FullBoxContent .list .item.MedPic {
	width: 15%;
	float: left;
	clear: none;
	margin-left: 0px;
	z-index: 550 !important;
	margin-right: -10px;
}
.FullBoxContent .list .item.MedPic img {
	max-width: 100%;
	border-radius: 120px;
}
.FullBoxContent .list .item.Strip {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding: 6px;
	border-radius: 10px;
	z-index: -500 !important;
	overflow: auto;
	width: 75%;
	float: left;
	clear: none;
	position: absolute;
	padding-left: 14%;
	margin-left: 5%;
	margin-top: 10px;
}
.FullBoxContent .list .item.Strip span {
	position: absolute;
	right: 10%;
	color: rgba(255, 255, 255, 0.3);
	font-size: 11px;
}
.FullBoxContentTitle {
	text-align: center;
	font-size: 30px;
	color: #000000;
	margin-top: 10px;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
}
.CenterDivMain {
	padding-top: -50% !important;
	clear: both;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	overflow: auto;
	box-shadow: none !important;
}
input.Deactivate[type="button"] {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	padding: 5px 15px;
	-webkit-appearance: none;
}
input.AddContact[type="button"] {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	padding: 5px 10px;
	-webkit-appearance: none;
	margin-right: 5px;
}
input.SmallSubmit[type="button"] {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 13px;
	padding: 5px 10px;
	-webkit-appearance: none;
	margin-right: 5px;
}
.IfNoteMissed {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin: 10px;
	padding: 0px;
	overflow-x: hidden;
}
.IfNoteMissed div.CloseSec {
	position: absolute;
	width: auto;
	padding: -5px;
	right: -5px;
	top: -5px;
	color: #000000;
	padding: 5px;
}
.IfNoteMissed .list {
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}
.IfNoteMissed .list .item.TitDiv {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	padding-bottom: 5px;
	text-align: left;
}
.IfNoteMissed .list .item.TitDiv div.BoldTxt {
	font-weight: normal;
	font-size: 15px;
	color: #000000;
}
.IfNoteMissed .list .item.TitDiv div.NormTxt {
	font-weight: normal;
	color: #666666;
}
.IfNoteMissed .list .item.ContDiv {
	margin-top: 1vh;
	overflow: auto;
	width: 60%;
	float: left;
	clear: left;
	position: relative;
}
.IfNoteMissed .list .item.ContDiv input[type="text"], .IfNoteMissed .list .item.ContDiv input[type="time"] {
	width: 90%;
}
.IfNoteMissed .list .item.ButDiv {
	margin-top: 5px;
	overflow: auto;
	position: relative;
	text-align: center;
}
.IfNoteMissed .list .item.ButDiv input[type="button"] {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;
	padding: 4px 10px;
	-webkit-appearance: none;
	font-size: 12px;
}
.taken_color {
	background-color: rgba(53,130,0, 0.7)!important
}
.DateButton {
	overflow: auto;
	text-align: center !important;
	text-align: center;
	clear: both;
	margin-top: 23vh;
}
.DateButton .list {
	text-align: right !important;
	padding: 0px;
	list-style: none;
	overflow: auto;
	clear: both;
	float: none !important;
	margin: auto;
	width: 60%;
	margin-left: 27vw;
}
.DateButton .list .item.LeftArrow {
	width: 10%;
	float: left;
	clear: none;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 1vh;
}
.DateButton .list .item.RightArrow {
	width: 10%;
	float: left;
	clear: none;
	cursor: pointer;
	margin-right: 0px;
	margin-top: 1vh;
}
.DateButton .list .item.LeftArrow img, .DateButton .list .item.RightArrow img {
	max-width: 80%;
	margin: auto;
}
.DateButton .list .item.DateText {
	width: 50%;
	float: left;
	clear: none;
	cursor: pointer;
	margin-right: 5px;
	background-color: rgba(0, 107, 179, 0.9);
	border-radius: 5vh;
	font-family: Roboto Bold, Arial, Helvetica, sans-serif;
	font-size: 4vw;
	color: #ffffff;
	text-align: center;
	padding: 3% 0px;
}
.DateButton .list .item.DateText span {
}
.DateList {
	display: none;
	width: 30%;
	padding: 5px 0px;
	overflow: auto;
	text-align: center;
	position: absolute;
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 1.5%;
}
.DateList .list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%
}
.DateList .list .item {
	padding: 3vw 0px;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
.ExternalNotification {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.05);
	overflow: auto;
	margin-bottom: 20px;
}

.ExternalNotification a{ color:rgba(0, 107, 179, 1.0); text-decoration:none}

.ExternalNotification .list.Fields {
	margin: 5px;
	padding: 8px;
	list-style: none;
	border: 1px solid #d9d9d9;
	overflow: auto;
	overflow-x: hidden;
}
.ExternalNotification .list.Fields .item.Lab {
	width: 25%;
	float: left;
	clear: none;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #333333;
	clear: both;
}
.ExternalNotification .list.Fields .item.Inp {
	width: 60%;
	float: left;
	clear: none;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #000000;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
}

.ExternalNotification .list.Fields .item.Lab2 {
	width: 38%;
	float: left;
	clear: none;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #333333;
	clear: both;
}
.ExternalNotification .list.Fields .item.Lab3 {
	width: 100;
	float: left;
	clear: none;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #333333;
	clear: both;
}
.ExternalNotification .list.Fields .item.Inp2 {
	width: 55%;
	float: left;
	clear: none;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #000000;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif;
}

.ExternalNotification .list.Fields .item.Status {
	width: 10%;
	float: right;
	clear: none;
	margin-right: 0px;
	margin-bottom: 5px;
	overflow: auto;
	text-align: center;
}
.ExternalNotification .list.Fields .item.Status img {
	opacity: 0.5
}
.ExternalNotification .list.Fields .item.AddDel {
	margin-top: -5px;
	margin-right: -10px;
	text-align: RIGHT;
	clear: both
}
.ExternalNotification input[type="text"] {
	width: 90%;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.ExternalNotification .list.Buts {
	margin: 5px;
	padding: 8px;
	list-style: none;
	overflow: auto;
}
.ExternalNotification .list.Buts .item {
	text-align: center;
}
.ExterAddDel {
	background-color: rgba(0, 0, 0, 0.2) !important;
	border: none;
	padding: 4px 10px;
	width: auto;
	margin: auto;
	font-family: Roboto Light, Arial, Helvetica, sans-serif !important;
	font-size: 16px !important;
	color: #ffffff;
	text-align: center;
	-webkit-appearance: none;
	margin-right: 5px;
}
.Verify {
	background-image: url(../images/tickmarkicon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.UnVerify {
	background-image: url(../images/crossmarkicon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}




/*BLECtrl, BioMetric*/
#BLECtrl, #BioMetric {
	display: none;
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
	right: 10px;
	left: 10px;
	padding: 0px;
	position: absolute;
	color: #333;
	margin-top: 25%;
	z-index: 9999;
}


#BLECtrl .list.Box .item.Cont>div .list, #BioMetric .list.Box .item.Cont>div .list{ padding:10px !important; }

#BLECtrl .list.Box, #BioMetric .list.Box {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#BLECtrl .list.Box .item.Header, #BioMetric .list.Box .item.Header {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 10px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
}

#BLECtrl .list.Box .item.Header div.CROSS, #BioMetric .list.Box .item.Header div.CROSS {
	width: auto;
	float: right;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: -10px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	font-size: 12px;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif !important;
}

#BLECtrl .list.Box .item.Cont, #BioMetric .list.Box .item.Cont {
	clear: both;	
	padding:10px;
}



.BioMetricCont {
	font-family: Roboto Light, Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 0px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.05);
}
.BioMetricCont .list {
	list-style: none;
	padding: 0px;
	margin: 5px;
}
.BioMetricCont .list .item.Heading {
	font-size: 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 5px;
	margin-bottom: 10px;
	 clear:both;
	 overflow:auto;
}


.BioMetricCont .list .item.HalfDiv {
	width: 49%;
	float: left;
	clear: none;
	
	margin-bottom: 10px;
		 overflow:auto;
		
}




.BioMetricCont .list .item.HalfDivRight {
	width: 49%;
	float: right;
	clear: none;
	margin-right: 0px;
	margin-bottom: 10px;
		 overflow:auto;
		
}

.BioMetricCont .list .item.HalfDiv:nth-of-type(2n+1) {
	margin-right: 0px;
}

.BioMetricCont .list .item.FullDiv {
	clear: both;
	text-align: center;
		
}
.BioMetricCont input[type="button"] {
	background-color: #ff6000;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px 15px;
	-webkit-appearance: none;
}
.BioMetricCont input[type="text"],.BioMetricCont select, .BioMetricCont input[type="number"], .BioMetricCont input[type="tel"]  {
	width: 90%;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.DivMarBot{  padding-bottom:60px !important; overflow:auto; clear:both; margin-bottom:30px !important;}

.AlertBox{ background-color:rgba(255, 0, 0, 0.7); position:absolute; bottom:-40px; font-family: Roboto Light, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;	color: #ffffff; text-align:center; padding:8px 0px; display:none; right:10px; left:10px; z-index:99999; border-radius:3px; 	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);}





/*------------------ Terms & Conditions Box---------------------*/

#TersmConditionBox {
	display: none;
	font-family: Roboto Light, Arial, Helvetica, sans-serif !important;
	background-color: rgba(255, 255, 255, 1.0);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
	width:95%;
	
	
	padding: 0px;
	position: fixed;
	color: #333;
	
	z-index: 9999;
}


#TersmConditionBox .list.Box .item.Cont>div .list{ padding:10px !important; }

#TersmConditionBox .list.Box {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#TersmConditionBox .list.Box .item.Header {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 10px;
	font-size: 12px;

	color: #ffffff;
	text-align: center;
}
#TersmConditionBox .list.Box .item.Header div.CROSS {
	width: auto;
	float: right;
	padding: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: -10px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	font-size: 12px;
	font-family: Roboto Regular, Arial, Helvetica, sans-serif !important;
}
#TersmConditionBox .list.Box .item.Cont {
    clear: both;
    height:55vh !important;
    position:relative;
    overflow:auto;
    overflow-x:hidden;
    padding:10px;
    
}

#TersmConditionBox .list.Box .item.Cont iframe, #TersmConditionBox .list.Box .item.Cont object { background-color:#ffffff; left:0px; right:0px; width:100%; height:100%; position:absolute;}


.small-padding {
    padding: 5px !important;
}

.no-padding {
    padding: 0px !important;
}

.transparent {
    background-color : transparent !important;
}

.redbg {
    background-color : #ffffff !important;
}

.yellowbg {
    background-color : #ffff00 !important;
}

.greenbg {
    background-color : #00ff00 !important;
}
.view-with-bg {
    background-image: url(../images/background.png);
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover !important;
	margin: 0px;
	padding: 0px;
	max-height: 1920px;
	max-width: 1080px;
	overflow-x: hidden;
}
svg {
    width: 100%;
    display: block;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper > #progress, .wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper > img {
    border-radius: 50%;
}

.col-offset-30 {
    margin-left: 30% !important;
}

.col-offset-40 {
  margin-left: 40%; }


.col-offset-60 {
    margin-left: 60% !important;
}

.col-offset-70 {
    margin-left: 70% !important;
}

.text-black {
    color: black;
}

/* ----------- iPhone 4S POTRAIT ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.SummaryBoxes_New {
	margin-top:-2vh !important;
}
.DateButton {
	margin-top: 23vh !important;
	margin-bottom:-2vh !important;
}

.SummaryBoxes_New .list .item.SquareBox {
	width: 43.0% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh;
	font-size:16px !important;
}
.LoginBlueBox {
	min-height: 290px !important;

}
.box {
	padding: 8px 5px;
	width: 95%;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	padding: 10px 8px;
}
.LoginBox input[type="button"] {
	padding: 10px 35px;
}
.LoginBox {
	/*margin-top: 7.0vh !important;
	margin-top: 12.0vh !important;*/
	
	margin-top: 16.0vh !important;
}
.SummaryLogo_Ben {
	top: 24vh;
}
.TopRightSection .list .item.ProPic {
	width: 50px;
}
.TopRightSection .list .item.ProfileName div.NameDiv {
	font-size: 13px;
	font-size: 12px;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 43% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 55% !important;
}
.DosageCont {
	width: 80% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 2% !important;
}

#nav {
	
	padding-top: 5px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:0px;
	margin-top:10px;
}
.SummaryBoxes_New .list{ padding-bottom:0px;}
}



/* ----------- iPhone 4S LANDSCAPE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.LoginBlueBox {
	min-height: 180px;
	margin-top: 25.0vh !important;
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
}
.box {
	padding: 8px 5px;
	width: 95%;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	padding: 10px 8px;
}
.LoginBox input[type="button"] {
	padding: 10px 35px;
}
.LoginBox {
	margin-top: 5.0vh !important;
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: sskew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 52%;
	text-align: left
}
.LoginBox .list .item.FieldBox {
	clear: none;
	float: left;
	width: 25%;
}
.LoginBox .list .item.ButtonBox {
	clear: both;
	text-align: left;
}
.LogoDiv {
	margin-top: 3vw;
}
.LogoDiv img {
	max-width: 50vh;
}
.TopRightSection {
	width: 45% !important;
}
.FooterLink .list .item.IconBack {
	width: 5vw !important;
	height: 5vw !Important;
	margin-bottom: -2vh;
	padding: 1.0vw;
}
.SummaryHeader {
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	min-height: 18vw;
	top: 10%;
}
.SummaryHeaderContent {
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.SummaryHeaderContent .list .item.ProPic {
	width: 18%;
	margin-top: -5px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 9vw !important;
	margin-left: 18vh;
	margin-top: -13vh;
}
.SummaryBoxes_New {
/*	margin-top: 25vh !important;*/
}
.DateButton {
	margin-top: 25vh !important;
}
.SummaryLogo_Ben {
	top: 35vh;
}
.SummaryLogo img {
	max-width: 25%;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 45.5% !important;
	margin-right: 0px;
}
}

/* ----------- iPhone 5 and 5S POTRAIT ----------- */
@media screen and (device-aspect-ratio: 40/71) {
.SummaryBoxes_New {
/*	margin-top: 21vh;*/
}

.SummaryBoxes_New {
	margin-top:0vh !important;
}
.DateButton {
	margin-top: 26vh !important;
	margin-bottom:0vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43.2% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh;
	font-size: 18px !important;
}
.SlideDiv {
	margin-bottom: 5% !important;
}

.LoginBlueBox {
	min-height: 300px;
}

.LoginBox .list .item.FieldBoxSmall {
	width: 41% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 55% !important;
}
.DosageCont {
	width: 85% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: -2% !important;
}
.SummaryBoxes_New .list{ padding-bottom:16px;}


.PageHeading {
	
	margin-top:60px !important;

}

.SummaryLogo_Ben {
	top: 25vh;
}

}

/* ----------- iPhone 5 and 5S  LANDSCAPE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.LoginBlueBox {
	min-height: 180px;
	margin-top: 25.0vh !important;
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
}
.box {
	padding: 8px 5px;
	width: 95%;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	padding: 10px 8px;
}
.LoginBox input[type="button"] {
	padding: 10px 35px;
}
.LoginBox {
	margin-top: 5.0vh !important;
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45%;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 52%;
	text-align: left
}
.LoginBox .list .item.FieldBox {
	clear: none;
	float: left;
	width: 25%;
}
.LoginBox .list .item.ButtonBox {
	clear: both;
	text-align: left;
}
.LogoDiv {
	margin-top: 3vw;
}
.LogoDiv img {
	max-width: 50vh;
}
.TopRightSection {
	width: 35%;
}
.FooterLink .list .item.IconBack {
	width: 5vw !important;
	height: 5vw !Important;
	margin-bottom: -2vh;
	padding: 1.0vw;
}
.SummaryHeader {
	overflow: auto !important;
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	min-height: 18vw;
	top: 10%;
}
.SummaryHeaderContent {
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.SummaryHeaderContent .list .item.ProPic {
	width: 18%;
	margin-top: -5px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 9vw !important;
	margin-left: 18vh;
	margin-top: -13vh;
}
.SummaryBoxes_New {
	margin-top: 25vh !important;
}
.SummaryLogo_Ben {
	top: 35vh;
}
.SummaryLogo img {
	max-width: 25%;
}
}

/* ----------- iPhone 6 POTRAIT-------------------------------------------------------------------------------------------- */
  
@media screen and (device-aspect-ratio: 375/667) {
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}

.SummaryBoxes_New {
	margin-top:0vh !important;
}
.DateButton {
	margin-top: 26vh !important;
	margin-bottom:0vh !important;
}

.SummaryBoxes_New .list{ padding-bottom:20px;}

.SummaryLogo_Ben {
	top: 25vh;
}

.SummaryBoxes_New .list .item.SquareBox {
	width: 44.1% !important;
}
.LoginBlueBox {
	min-height: 320px !important;
}

.LoginBox{
	margin-top:23.0 vh !important;
	}

.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh;
	font-size: 25px;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 48% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 50% !important;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 14% !important;
	margin-left: 17% !important;
	margin-top: -25px;
}
.SummaryHeaderContent .list .item.ProfileName {
	margin-top: 3vh;
}



}

/* ----------- iPhone 6 LANDSCAPE --------------------------------------------------------------------------------------------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.LoginBlueBox {
	min-height: 180px;
	margin-top: 25.0vh !important;
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
}
.box {
	padding: 8px 5px;
	width: 95%;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	padding: 10px 8px;
}
.LoginBox input[type="button"] {
	padding: 10px 35px;
}
.LoginBox {
	margin-top: 5.0vh !important;
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45%;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 52%;
	text-align: left
}
.LoginBox .list .item.FieldBox {
	clear: none;
	float: left;
	width: 25%;
}
.LoginBox .list .item.ButtonBox {
	clear: both;
	text-align: left;
}
.LogoDiv {
	margin-top: 3vw;
}
.LogoDiv img {
	max-width: 50vh;
}
.TopRightSection {
	width: 35%;
}
.FooterLink .list .item.IconBack {
	width: 5vw !important;
	height: 5vw !Important;
	margin-bottom: -2vh;
	padding: 1.0vw;
}
.SummaryHeader {
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	min-height: 18vw;
	top: 10%;
}
.SummaryHeaderContent {
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.SummaryHeaderContent .list .item.ProPic {
	width: 18%;
	margin-top: -5px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 9vw !important;
	margin-left: 18vh;
	margin-top: -13vh;
}
.SummaryBoxes_New {
	margin-top: 25vh !important;
}
.SummaryLogo_Ben {
	top: 38vh;
}
.SummaryLogo img {
	max-width: 25%;
}
.SlideDiv {
	margin: auto !important;
	width: 60%;
}
}

/* ----------- iPhone 6+ POTRAIT------------------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}
.SummaryBoxes_New {
	margin-top:0vh !important;
}
.DateButton {
	margin-top: 26vh !important;
	margin-bottom:0vh !important;
}

.SummaryBoxes_New .list{ padding-bottom:20px;}

.SummaryLogo_Ben {
	top: 25vh;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 44.7% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 2.0vh;
	font-size: 30px;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBlueBox {
	min-height: 360px !important;
}
.LoginBox {
		/*margin-top: 70px !important;*/
		margin-top: 23.0vh !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 59% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 39% !important;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 13% !important;
	margin-left: 15% !important;
	margin-top: -25px;
}
}

/* ----------- iPhone 6 LANDSCAPE -------------------------------------------------------------------------------------------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
.LoginBlueBox {
	min-height: 180px;
	margin-top: 25.0vh !important;
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
}
.box {
	padding: 8px 5px;
	width: 95%;
}
.LoginBox .list .item.ButtonBoxSmall input[type="button"] {
	padding: 10px 8px;
}
.LoginBox input[type="button"] {
	padding: 10px 35px;
}
.LoginBox {
	margin-top: 5.0vh !important;
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45%;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 52%;
	text-align: left
}
.LoginBox .list .item.FieldBox {
	clear: none;
	float: left;
	width: 25%;
}
.LoginBox .list .item.ButtonBox {
	clear: both;
	text-align: left;
}
.LogoDiv {
	margin-top: 3vw;
}
.LogoDiv img {
	max-width: 50vh;
}
.TopRightSection {
	width: 35%;
}
.FooterLink .list .item.IconBack {
	width: 5vw !important;
	height: 5vw !Important;
	margin-bottom: -2vh;
	padding: 1.0vw;
}
.SummaryHeader {
	-webkit-transform: skew(0deg, -5deg);
	-moz-transform: skew(0deg, -5deg);
	-o-transform: skew(0deg, -5deg);
	-ms-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	min-height: 18vw;
	top: 10%;
}
.SummaryHeaderContent {
	-webkit-transform: skew(0deg, 5deg);
	-moz-transform: skew(0deg, 5deg);
	-o-transform: skew(0deg, 5deg);
	-ms-transform: skew(0deg, 5deg);
	transform: skew(0deg, 5deg);
}
.SummaryHeaderContent .list .item.ProPic {
	width: 18%;
	margin-top: -5px;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 9vw !important;
	margin-left: 18vh;
	margin-top: -13vh;
}
.SummaryBoxes_New {
	margin-top: 25vh !important;
}
.SummaryLogo_Ben {
	top: 38vh;
}
.SummaryLogo img {
	max-width: 25%;
}
}

/* ----------- Samsung Galaxy Grand Prime 2 POTRAIT 

-------------------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 540px) and (max-device-width: 960px) and (-webkit-min-device-pixel-ratio: 

2) and (orientation: portrait) {
.LoginBlueBox {
	min-height: 350px !important;
}
.LoginBox {
	/*margin-top: 70px !important;*/
	margin-top: 12.0vh !important;
}
.SlideDiv {
	/*margin-top: -15% !important;*/
}


.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 64% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 32% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh !important;
	font-size: 30px;
}
}

/* ----------- Samsung Galaxy S6 POTRAIT 


-------------------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 1440px) and (max-device-width: 2560) and (-webkit-min-device-pixel-ratio: 

2) and (orientation: portrait) {
.LoginBlueBox {
	min-height: 750px !important;
}
.LoginBox {
	/*margin-top: 70px !important;*/
	
	margin-top: 12.0vh !important;
}
.SlideDiv {
	margin-top: -15% !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 57%;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 40%;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh !important;
	font-size: 30px;
}
}

/* ----------- iPad POTRAIT 

-------------------------------------------------------------------------------------------- */

@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 

1) {
.LoginBlueBox {
	min-height: 450px;
}
.LoginBox {
	/*margin-top: 12vh !important;*/
	width: 75%;
	margin-top: 40.0vh !important;
}
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}
.DateButton {
	margin-top: 21vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 47% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 7.0vh;
}
.SummaryHeader {
	min-height: 20vw;
}
.SummaryHeaderContent .list .item.ProPic {
	width: 20%;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 15vw;
	margin-top: -10vw !important;
}
.SummaryHeaderContent {
	margin-top: 50px;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 47%;
}
.TopRightSection {
	width: 35%;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 16% !important;
	margin-left: 15%;
	margin-top: -35px;
}
.SlideDiv {
	margin: auto !important;
	width: 70%;

	margin-bottom: 15px !important;
	margin-top: 15px !important;
}
.SummaryBPInp {
	margin: -20px 20px 70px 20px;
}
.DosageCont {
	width: 69%;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 2% !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 55% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 43% !important;
}
.TopLeftSection .list .item.Logo img {
	max-width: 70%;
}
}



/* ----------- Samsung Galaxy S2

------------------------------------------------------------------------------------------- */

@media screen and (device-width: 320px) and (device-height: 534px) and (-webkit-device-pixel-ratio: 1.5){

.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}
.DateButton {
	margin-top: 23vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 2.0vh;
	font-size: 20px;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 15vw;
	margin-top: -10vw !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBlueBox {
	min-height: 300px !important;
}
.LoginBox {
	/*	margin-top: 30px !important;*/
margin-top: 7.0vh !important;
}

.LoginBox .list .item.ButtonBoxSmall input[type="button"] {padding: 12px 8px !important;}
.LoginBox input[type="button"]{padding: 12px 35px;}
.LoginBox .list .item.FieldBoxSmall {
	width: 45% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 51% !important;
}
	.TopRightSection {
	width: 58% !important;
}

.TopRightSection .list .item.ProPic {
	width: 50px !important;
	
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 13% !important;
	margin-left: 15% !important;
	margin-top: -25px;
}
.GraphsBox .list .item.Header div.Leftbx {
	width: 30% !important;
	
}
.box {
    background: #ffffff !important;
    border: 1px solid #d9d9d9;
    border-radius: 0px;
    padding: 1.5vh 5px;
    width: 95%;
    font-family: Roboto Light, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5c5c5c;
    z-index: 50;
    overflow-x: hidden;
}

}





/* ----------- Samsung Galaxy S4

------------------------------------------------------------------------------------------- */

@media screen  and (device-width: 320px)  and (device-height: 640px)  and (-webkit-device-pixel-ratio: 3)  and 

(orientation: portrait) {
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}
.DateButton {
	margin-top: 23vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 2.0vh;
	font-size: 30px;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 15vw;
	margin-top: -10vw !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBlueBox {
	min-height: 350px !important;
}
.LoginBox {
	/*margin-top: 70px !important;*/
	margin-top: 17.0vh !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 51% !important;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 13% !important;
	margin-left: 15% !important;
	margin-top: -25px;
}

.GraphsBox .list .item.Header div.Leftbx {
	width: 30% !important;
	
}
}


/* ----------- Sony Xperia 

------------------------------------------------------------------------------------------- 

@media screen  and (device-width: 480px)  and (device-height: 854px)  and (-webkit-device-pixel-ratio: 1)  and 

(orientation: portrait) {
	
	.TopRightSection {
	width: 55% !important;
	border:1px solid green !important;
	
}
	
}
*/

/* ----------- MOTO E

------------------------------------------------------------------------------------------- */



@media screen  and (device-width: 540px)  and (-webkit-device-pixel-ratio: 1)  and 

(orientation: portrait) {
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}
.DateButton {
	margin-top: 23vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 1.0vh !important;
	font-size: 10px !important;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 15vw;
	margin-top: -10vw !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBlueBox {
	min-height: 350px !important;
}
.LoginBox {
/*	margin-top: 70px !important;*/
margin-top: 12.0vh !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 51% !important;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 13% !important;
	margin-left: 15% !important;
	margin-top: -25px;
	
}
.GraphsBox .list .item.Header div.Leftbx {
	width: 30% !important;
	
}
}




/* ----------- DESKTOP -------------------------------------------------------------------------------------------- */
@media only screen and (min-width : 1024px) {
.LoginBlueBox {
	min-height: 380px;
}
.LoginBox {
	margin-top: 8vh !important;
	width: 35%
}
.SummaryBoxes_New {
	margin: auto;
	padding: 0px;
	overflow: auto;
	margin-top: 20vh;
	width: auto;
	margin-top: 23vh;
	width: 60%;
}
.DateButton {
	margin-top: 20vh;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 44%;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 7.0vh;
}
.SummaryHeader {
	min-height: 15vw;
}
.SummaryHeaderContent .list .item.ProPic {
	width: 15%;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 6% !important;
	margin-left: 12vw;
	margin-top: -6vw;
}
.SummaryHeaderContent {
	margin-top: 70px;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 46.5%;
}
.LogoDiv {
	margin-top: 10vw;
}
body {
	max-width: 100%;
}
.TopRightSection {
	width: 35%;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 10%;
	margin-top: -25px;
}
.FooterLink .list .item.IconBack {
	width: 5vw !important;
	height: 5vw !Important;
	margin-bottom: -2vh;
	padding: 1.0vw;
}
.SlideDiv {
	margin: auto !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	width: 60%;
}
.SummaryBPInp {
	margin: auto;
	margin-top: -20px;
	width: 58%;
}
.DosageCont {
	width: 58%;
	margin: auto !important;
	margin-bottom: 15px !important;
	margin-top: 15px !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 65% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 32%;
}
.TopLeftSection .list .item.Logo img {
	max-width: 40%;
}
.SummaryHeaderContent .list .item.ProfileName {
	margin-top: 6vh;
}
}
/* ----------- Samsung Galaxy S3

------------------------------------------------------------------------------------------- */



@media screen  and (device-width: 320px)  and (device-height: 640px)  and (-webkit-device-pixel-ratio: 2)  and 

(orientation: portrait) {
.SummaryBoxes_New {
/*	margin-top: 23vh;*/
}


.SummaryHeaderContent .list .item.ProfileName {
	
	margin-top: 5vh !important;
	
}


.DateButton {
	margin-top: 23vh !important;
}
.SummaryBoxes_New .list .item.SquareBox {
	width: 43% !important;
}
.SummaryBoxes_content .list .item.TimeDiv {
	margin-top: 2.0vh;
	font-size: 20px;
}
.SlideDiv {
	margin-bottom: 5% !important;
}
.SummaryHeaderContent .list .item.ProPic div.Semicircle {
	position: absolute;
	width: 10% !important;
	margin-left: 15vw;
	margin-top: -10vw !important;
}
.DosageCont {
	width: 88% !important;
	margin: auto !important;
	margin-bottom: 2% !important;
	margin-top: 0% !important;
}
.LoginBlueBox {

	min-height: 350px !important;
}
.LoginBox {
/*	margin-top: 70px !important;*/
margin-top: 12.0vh !important;
}
.LoginBox .list .item.FieldBoxSmall {
	width: 45% !important;
}
.LoginBox .list .item.ButtonBoxSmall {
	width: 51% !important;
}
.TopRightSection .list .item.ProPic div.Semicircle {
	width: 13% !important;
	margin-left: 15% !important;
	margin-top: -25px;
}
.GraphsBox .list .item.Header div.Leftbx {
	width: 30% !important;
	
}
}

