/* Empty. Add your own CSS if you like */
/*fix button.active to button:active in ionic.css in lib/ionic/css. Repeat for activated too*/
  .button:active, .button:activated {
    outline:none !important;
}
.tabs .tab-item .icon.beneicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/bene_icon.png');
}
.tabs .tab-item .icon.summaryicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/summary_icon.png');
}

.tabs .tab-item .icon.scorecardicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/graph_icon.png');
}

.tabs .tab-item .icon.socialmediaicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/socialmedia_icon.png');
}
.tabs .tab-item .icon.configureicon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/configure_icon.png');
}
.login {
    background: url(../images/bene_small.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.ionictable .header .col {
    border-color: #0c60ee;
    background-color: lightgrey;
    color: #fff;
}

.ionictable .header.ionictable-header-positive .col {
    border-color: #0c60ee;
    background-color: #387ef5 !important;
    color: #fff;
}

.ionictable .header.ionictable-header-stable .col {
    border-color: #b2b2b2;
    background-color: #f8f8f8 !important;
    color: #444;
}

.ionictable .header.ionictable-header-assertive .col {
    border-color: #e42112;
    background-color: #ef473a !important;
    color: #fff;
}

.ionictable .header.ionictable-header-royal .col {
    border-color: #e42112;
    background-color: #886aea !important;
    color: #fff;
}

.ionictable .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.ionictable .col:last-child {
    border-right: solid 1px grey;
}

.ionictable .row:last-child .col {
    border-bottom: solid 1px grey;
}

.item-divider-positive {
    border-color: #0c60ee;
    background-color: #387ef5 !important;
    color: #fff;
}

.item-divider-stable {
    border-color: #b2b2b2;
    background-color: #f8f8f8 !important;
    color: #444;
}

.item-divider-assertive {
    border-color: #e42112;
    background-color: #ef473a !important;
    color: #fff;
}

.item-divider-royal {
    border-color: #e42112;
    background-color: #886aea !important;
    color: #fff;
}
.popup-container .popup {
    width: 90%;
}
.clickedClass{
  color: #00FF00;
}
.assigned {
    background-color: #00FF00;
}
.bmheader {
    background-color: #387ef5;
}
.egCell {
    background-color: #00FF00;
    margin: 2px;
    padding: 2px;
}
.borderless {
    border-width: 0px !mportant;
}
.blue-icon {
    color: blue !important;
}
.red-icon {
    color: red !important;
}
.gold-icon {
    color: #FFD700 !important;
}
.silver-icon {
    color: #C0C0C0 !important;
}
.bronze-icon {
    color: #CD7F32 !important;
}
.text-wrap {
    white-space: normal !important;
}
em,i{
    font-style:italic;
}
.fit-thumbnail {
    object-fit: cover;
}
.addmed .popup-head {
        background-color: #387ef5 !important;
}
.alertpopup .popup-head {
        background-color: #ef473a !important;
}
.alertpopup-assertive .popup-head {
        background-color: #ef473a !important;
}
.alertpopup-positive .popup-head {
        background-color: #387ef5 !important;
}
.confirmpopup .popup-head {
        background-color: #ef473a !important;
}
.confirmpopup-positive .popup-head {
        background-color: #387ef5 !important;
}
.sub-footer{
bottom:50px !important;
}
